<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>
<div th:replace="~{header :: header}">Header</div>
<div class="container">
<div class="row">
    <div class="col-auto">
        <table th:if="${not exercices.isEmpty()}" class="table table-responsive">
            <tr th:each="exercise: ${exercices}">
                <td><a th:href="@{exercises/exercise/{id}(id = ${exercise.getId()})}" th:text="${exercise.getName()}"></a></td>
            </tr>
        </table>
    </div>
</div>
</div>

</body>
</html>