<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}"></title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
</head>
<body>

    <div th:replace="~{header :: header}">Header</div>
    <div class="container">
        <div class="d-flex justify-content-center my-md-5">
            <form th:action="@{/login}" method="post">
                <div>
                    <label for="username" class="form-label">Username</label>
                    <div>
                        <input class="form-control" name="username" type="text" id="username"
                            placeholder="Username"/>
                    </div>
                </div>

                <div>
                    <label for="password" class="form-label">Password</label>
                    <div>
                        <input class="form-control" name="password" type="password" id="password"
                            placeholder="password"/>
                    </div>
                </div>
                <div>
                    <input type="submit" class="btn btn-lg btn-primary btn-block"
                           value="Sign In" />
                </div>

            </form>

        </div>

        <div th:if="${error != null}" th:text="${error}" class="alert alert-danger"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.js}"></script>

</body>
</html>